.container{
    background-color: var(--bgSoft);
    padding:20px;
    border-radius: 10px;
    display: flex;
    gap: 20px;
    cursor: pointer;
    width: 100%;
}
.container:hover{
    background-color: #2e374a;
}
.texts{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.numero{
    font-size: 24px;
    font-weight: 500;    
}
.detalhe{
    font-size: 14px;
    font-weight: 300;    
}
.positivo{
    color:lime;
}
.negativo{
    color:red ;
}