.container{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--bgSoft);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.titulo
{
    color:var(--textSoft);
    font-weight: bold;
    text-transform: capitalize;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
}
.busca{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #2e374a;
    padding: 10px;
    border-radius: 10px;
}
.input{
    background-color: transparent;
    border: none;
    color:var(--textSoft)
}
.icons{
    display: flex;
    gap: 20px;
    cursor: pointer;
}