@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg:#151c2c;
  --bgSoft:#182237;
  --text: white;
  --textSoft:#b7bac1
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  background-color: var(--bg);
  color:var(--text);
}
a{
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
