.container{
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 10px;
}
.titulo{
    margin-bottom: 20px;
    font-weight: 200;
    color:var(--textSoft)
}
.tabela{
    width: 100%;        
}
.tabela td{
    padding: 10px;
}
.usuario{
    display: flex;
    gap: 10px;
    align-items: center;
}
.usuarioImagem{
    object-fit: cover;
    border-radius: 50%;
}
.status{
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color:white;
}
.Aguardando{
    background-color:#f7cb7375 ;
}
.Pago{
    background-color:#afd6ee75 ;
}
.Cancelado{
    background-color:#f7737375 ;
}