.container{
    position: sticky;
    top:40px;
}
.user{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}
.userImage{
    border-radius: 50%;
    object-fit: cover;
}
.userDetail{
    display: flex;
    flex-direction: column;
}
.userNome{
    font-weight: 500;
}
.userTitulo{
    font-size: 12px;
    color:var(--textSoft)
}
.lista{
    list-style: none;
}
.cat{
    color: var(--textSoft);
    font-weight: bold;
    font-size:13px;
    margin: 10px 0px ;
}
.sair{
    padding: 20px;
    margin: 5px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: none;
    color:white;
    border:none;
    width: 100%;
}
.sair:hover,.active{
    background-color:#2e374a ;
}